.register-page {
  min-height: 100vh;
  background: #f6f3fb;
  display: flex;
  justify-content: center;
  align-items: center;
}

.register-card {
  width: 500px;
  background: #fff;
  padding: 40px;
  border-radius: 20px;
}

.register-card h2 {
  text-align: center;
  margin-bottom: 5px;
}

.subtitle {
  text-align: center;
  color: #777;
  margin-bottom: 25px;
}

.row {
  display: flex;
  gap: 20px;
}

.form-group {
  margin-bottom: 20px;
  width: 100%;
}

.form-group label {
  font-weight: 600;
  display: block;
  margin-bottom: 6px;
}

.form-group input {
  width: 100%;
  padding: 14px;
  border-radius: 30px;
  border: none;
  background: #f2f2f2;
}

.password-box {
  position: relative;
}

.password-box span {
  position: absolute;
  right: 18px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

.submit-btn {
  width: 100%;
  padding: 14px;
  border-radius: 30px;
  border: none;
  background: black;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

.login-link {
  margin-top: 15px;
  text-align: center;
}

.login-link a {
  color: red;
  text-decoration: none;
}
